body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../img/forsidebilde.jpg');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("../img/midsection.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("../img/endsection.jpg");
    min-height: 400px;
}

.w3-opacity-minimal {opacity: 0.95;}
.w3-image-round {border-radius: 50%;}
.w3-margin-0 {margin: 0px;}
.w3-wide {letter-spacing: 10px;}
.w3-xwide {letter-spacing: 20px;}
.w3-narrower {letter-spacing: 4px;}
.w3-hover-opacity, .scroll-down, .scroll-up {cursor: pointer;}
.university-icon { font-size: 10.0rem;}

footer {
    background-color: #252a30;
}

textarea {
    height: 200px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
